<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home Decor online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link" style=" color:#e5e5e5ff;" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style=" color:#e5e5e5ff;"routerLink="/user/signin" routerLinkActive="active">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style=" color:#e5e5e5ff;" routerLink="/user/signup" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    
   <router-outlet></router-outlet>
  </div>
   <!-- Footer -->
  <footer class="page-footer font-small platinum pt-4 bg-primary">
      <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
      <div class="row">
          <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase" style=" color:#e5e5e5ff;">Company details:</h5>
          <p style=" color:#e5e5e5ff;">Company address:</p>
          <p style=" color:#e5e5e5ff;">Company phone number</p>
          <p style=" color:#e5e5e5ff;">Company email</p>
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" style=" color:#e5e5e5ff;">Links</h5>
             
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" style=" color:#e5e5e5ff;">Links</h5>
    
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style=" color:#e5e5e5ff;">© 2020 Copyright:
      <a style=" color:#e5e5e5ff;" href=#> EverybodyWantsThat</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
